{{- if eq .Values.secrets.method "create" }}
{{- $dbPassword := randAlphaNum 32 }}
{{- $questdbPassword := randAlphaNum 32 }}
{{- $libsodiumKey := randBytes 32 | b64enc }}
{{- $uiAuthSecret := randAlphaNum 32 }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "vm-x-ai.fullname" . }}-database
  labels:
    {{- include "vm-x-ai.labels" . | nindent 4 }}
type: Opaque
data:
  password: {{ $dbPassword | b64enc }}
  {{- if not .Values.postgresql.enabled }}
  host: {{ .Values.postgresql.external.host | b64enc }}
  port: {{ .Values.postgresql.external.port | toString | b64enc }}
  database: {{ .Values.postgresql.external.database | b64enc }}
  username: {{ .Values.postgresql.external.username | b64enc }}
  {{- end }}
---
{{- if .Values.questdb.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "vm-x-ai.fullname" . }}-questdb
  labels:
    {{- include "vm-x-ai.labels" . | nindent 4 }}
type: Opaque
data:
  password: {{ $questdbPassword | b64enc }}
---
{{- end }}
{{- if eq .Values.api.encryption.provider "libsodium" }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "vm-x-ai.fullname" . }}-libsodium
  labels:
    {{- include "vm-x-ai.labels" . | nindent 4 }}
type: Opaque
data:
  encryption-key: {{ $libsodiumKey }}
---
{{- end }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "vm-x-ai.fullname" . }}-ui
  labels:
    {{- include "vm-x-ai.labels" . | nindent 4 }}
type: Opaque
data:
  auth-secret: {{ $uiAuthSecret | b64enc }}
---
{{- if and (eq .Values.secrets.method "create") .Values.api.oidcFederated.enabled .Values.api.oidcFederated.clientSecret }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "vm-x-ai.fullname" . }}-oidc-federated
  labels:
    {{- include "vm-x-ai.labels" . | nindent 4 }}
type: Opaque
data:
  client-secret: {{ randAlphaNum 32 | b64enc }}
---
{{- end }}
{{- end }}
