name: Publish Docs to GitHub Pages

on:
  push:
    branches:
      - main

permissions:
  actions: write
  id-token: write
  contents: write

jobs:
  publish:
    name: Publish Docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: pnpm/action-setup@v3
        with:
          version: 10.14.0

      - uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install

      - name: Generate Release Token
        id: generate_token
        uses: tibdex/github-app-token@v2
        with:
          app_id: ${{ secrets.SEMANTIC_RELEASE_APP_ID }}
          private_key: ${{ secrets.SEMANTIC_RELEASE_PRIVATE_KEY }}
      
      - name: Publish Docs
        run: pnpm nx run docs:deploy
        env:
          GIT_USER: "vm-x-ai-release[bot]"
          GIT_PASS: ${{ steps.generate_token.outputs.token }}
          GIT_USER_NAME: "vm-x-ai-release[bot]"
          GIT_USER_EMAIL: "167465110+vm-x-ai-release[bot]@users.noreply.github.com"
