name: Publish Docs to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  build:
    name: Publish Docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: pnpm/action-setup@v3
        with:
          version: 10.14.0

      - uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install
      
      - name: Publish Docs
        run: pnpm nx run docs:deploy
        env:
          GIT_USER: "github-actions-bot"
          GIT_PASS: ${{ secrets.GITHUB_TOKEN }}
          GIT_USER_NAME: "github-actions-bot"
          GIT_USER_EMAIL: "support+actions@github.com"
